{% load static %}
<head>
<link rel="shortcut icon" type='image/x-icon' href="{%  static 'favicon_background.png' %}">
</head>

<img style="width:100px; height:100px;" src="{% static 'canspalogo.png' %}" alt='Logo'</src>

<form method="POST" action="/upload/">
{% csrf_token %}
<h1>Select Orders to Upload:</h1>
<input type="submit" name="bandq" value="B&Q" />
<input type="submit" name="homebase" value="Homebase" />
<input type="submit" name="jtf" value="JTF" />
<input type="submit" name="wayfair" value="Wayfair" />
<input type="submit" name="therange" value="The Range" />
<input type="submit" name="travisperkins" value="Travis Perkins" />
<input type="submit" name="hornbach" value="Hornbach" />
<input type="submit" name="shopdirect" value="Shop Direct" />
</form>

<form method="POST" action="/xavier/">
{% csrf_token %}
<h1>Xavier's Programs</h1>
<input type="submit" name="orderwell" value="Order Well for B&Q" />
<BR>
<BR>
<input type="text" name="textfield" placeholder="MM/YYYY">
<button type="submit">Search</button>
<p style="font-size:120%;">Calculate turnover for given month.</p>
</form>

<form method="POST" action="/search/">
<h1>Search Consignment(s) Delivery Status</h1>
{% csrf_token %}
<input type="text" name="textfield" placeholder="Post Code">
<button type="submit">Search</button>
<p style="font-size:120%;">Multiple Postcodes separated by comma AND space eg. "RH2 4AF, BA2 3GP"</p>
</form>