<form method="POST" action="/upload/">
{% csrf_token %}
<h1>Select Orders to Upload:</h1>
<input type="submit" name="bandq" value="B&Q" />
<input type="submit" name="homebase" value="Homebase" />
<input type="submit" name="jtf" value="JTF" />
<input type="submit" name="hornbach" value="Hornbach" />
<input type="submit" name="shopdirect" value="Shop Direct" />
</form>
<br>
<form method="POST" action="/search/">
<h1>Search Consignment(s) Delivery Status</h1>
{% csrf_token %}
<input type="text" name="textfield" placeholder="Post Code">
<button type="submit">Search</button>
<p style="font-size:120%;">Multiple Postcodes separated by comma AND space eg. "RH2 4AF, BA2 3GP"</p>
</form>